body {
    background-color: goldenrod;
  }
  
  h1 {
    background-color: powderblue;
    text-align: center;
    color: black;
  }
  
  div { text-align: right;
    color: white;
  
  }
  
  
  
  body {
    background: url("home_bg.jpg");
  }
  
  body {
    color: powderblue;
  }